{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Alexandriai Közlekedési Központ</h1>
        <p>A legmegbízhatóbb tömegközlekedési megoldás, már online felületen is!</p>
    </div>

    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar diam tortor, a mattis elit finibus sed. Vivamus vitae turpis semper, dapibus sapien a, molestie arcu. Aliquam rutrum purus elit, nec feugiat sapien tempus in. Suspendisse condimentum, libero quis iaculis gravida, lacus augue pharetra ex, sit amet pulvinar elit lacus sed elit. Mauris sollicitudin suscipit nunc eget porta. Ut sed rhoncus neque. Aenean mollis ex non facilisis placerat. Fusce sit amet volutpat nisl. Aenean feugiat, nulla facilisis facilisis tincidunt, ex est tristique nisl, in congue arcu ante at dolor. Nullam non pellentesque odio, eu maximus lectus. Vivamus placerat tellus commodo feugiat iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Cras varius, urna semper egestas aliquet, velit nibh gravida mi, vel tempor dolor lacus at ipsum. Mauris scelerisque convallis nisi vitae blandit. Aliquam vel odio vel urna malesuada molestie id at nisi. Quisque ut massa viverra, varius tellus tempus, pretium turpis. Donec scelerisque augue magna, sit amet pharetra odio tincidunt pretium. Aliquam quam tortor, varius ut eros vitae, pretium vestibulum nunc. Phasellus quis neque erat. Fusce feugiat interdum urna ut pulvinar. Aenean et metus eget risus elementum cursus.</p>
        <p>Morbi tincidunt est nibh, ut ultrices nibh viverra sit amet. Nunc pharetra magna elit, eu consequat augue ullamcorper ac. Proin iaculis laoreet sollicitudin. Proin vel pretium dui, ut ullamcorper diam. Donec egestas in nibh et ullamcorper. Aliquam ac iaculis erat. Sed eget ex diam. Aenean vulputate arcu id pretium tempus. Aenean augue eros, blandit quis volutpat eu, vehicula a sem. Nulla nec nisi id libero facilisis dictum non in nisl. Morbi mollis pulvinar enim. Aliquam erat volutpat. Aliquam at metus non lacus viverra venenatis at quis est. Etiam quis velit congue, pharetra nibh at, faucibus nunc. Ut maximus, elit ac pellentesque efficitur, purus risus aliquet ipsum, ultrices viverra odio erat vitae orci. Morbi luctus risus sed ligula mattis fringilla.</p>
        <p>Suspendisse non consectetur felis. In pretium massa sit amet erat auctor tincidunt. Morbi eget rhoncus tortor. Sed venenatis nisi nec viverra tincidunt. Vestibulum in dolor urna. Nullam ut eleifend ante. Suspendisse vel pellentesque metus. Suspendisse sollicitudin facilisis dui, eu elementum ante faucibus ut. Duis consectetur libero non rutrum imperdiet. In posuere sit amet mi id aliquam. Nulla nibh lorem, pharetra suscipit erat nec, mollis finibus nibh. Sed sollicitudin consectetur nunc nec egestas. Morbi imperdiet orci nulla, id faucibus sem feugiat id.</p>
        <p>Sed vestibulum auctor magna rutrum iaculis. Phasellus tristique diam ac odio pellentesque molestie. Vivamus in sem pharetra justo egestas porttitor non a magna. Quisque at fermentum odio, a blandit sem. Proin commodo, nibh ac egestas blandit, orci sapien imperdiet lorem, vitae congue felis turpis nec sem. Mauris id nisl sed eros commodo malesuada. Nunc sollicitudin blandit ipsum, vel vestibulum erat iaculis sit amet. Donec id quam eget nunc tempor lobortis pretium tempor sem.</p>
    </main>
{% endblock %}

{% block stylesheets %}
{% endblock %}
