{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ action }}" method="post">
        <h4 class="vspace">Regisztráció</h4>
        <div class="form-row">
            <input type="email" name="email" required />
            <span class="floating-label">Email cím</span>
        </div>
        <div class="form-row">
            <input type="text" name="last_name" required />
            <span class="floating-label">Vezetéknév</span>
        </div>
        <div class="form-row">
            <input type="text" name="first_name" required />
            <span class="floating-label">Keresztnév</span>
        </div>
        <div class="form-row">
            <input type="text" name="username" required />
            <span class="floating-label">Felhasználónév</span>
        </div>
        <div class="form-row">
            <input type="password" name="password" required />
            <span class="floating-label">Jelszó</span>
        </div>
        <div class="form-row">
            <input type="submit" value="Belépés" />
        </div>
    </form>
{% endblock %}

{% block stylesheets %}

{% endblock %}

